{% extends "base.html" %}

{% block body %}

<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Lista de cadastro do Banco de Dados da Priscila</strong>
		</div>

		{% if perfis %}
			
			<ul>
				{% for perfil in perfis %}

					<li>
						Nome: {{ perfil.nome }} {{ perfil.sobrenome }} / E-mail: {{ perfil.email }}/ Telefone: {{ perfil.telefone }} / Empresa: {{ perfil.nome_empresa }}
					</li>
				{% endfor %}
			</ul>		
			{% else %}
				<p>Nenhum perfil encontrado</p>
			{% endif %}
	</div>	
</div>
{% endblock %}